# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints/

# Virtual environments
.env
.venv
env/
venv/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Python build files
build/
dist/
*.egg-info/

# IMPORTANT (your project specific)
dataset/
*.h5